.featuredimage {
    background-blend-mode: darken;
    background-image: url('../../../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-position:  right bottom,left top;
    background-size: cover;
}